<h1>Question no1</h1>

<h4>Works to do</h4>
<ul>
    <li>Determine categorical & numerical features</li>
    <li>Normalize numerical features</li>
</ul>
<h4>Categorical features</h4>
<ul>
    <li>WorkClass</li>
    <li>Education</li>
    <li>Marital-Status</li>
    <li>Occupation</li>
    <li>Relationship</li>
    <li>Race</li>
    <li>Gender</li>
    <li>NAtive-Country</li>
</ul>
<h4>Numerical features</h4>
<ul>
    <li>age</li>
    <li>fnlwgt</li>
    <li>Educational-num</li>
    <li>Hours-per-week</li>
</ul>
<p><b>Normalization Method:</b> Standard normalization applied on data which transforms data to new numbers with mean of zerp and standard devietion of 1</p>

<h2>Imports</h2>
<ul>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Matplotlib</li>
    <li>Seaborn</li>
    <li>Scikit-Learn</li>
</ul>

In [5]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import copy

# Scikit-Learn's imports
from sklearn.preprocessing import StandardScaler

<h4>Load data</h4>

In [2]:
# Load test & train data
data_train = pd.read_csv('./Dataset/train_set.csv')
data_test = pd.read_csv('./Dataset/test_set.csv')

<h4>Get numerical features</h4>

In [8]:
train_numerical = data_train[['age', 'fnlwgt', 'educational-num', 'hours-per-week']]
test_numerical = data_test[['age', 'fnlwgt', 'educational-num', 'hours-per-week']]

# Normalize
scalar = StandardScaler()
normalized_train_data_partial = pd.DataFrame(scalar.fit_transform(train_numerical), columns=['age', 'fnlwgt', 'educational-num', 'hours-per-week'])
normalized_test_data_partial = pd.DataFrame(scalar.fit_transform(test_numerical), columns=['age', 'fnlwgt', 'educational-num', 'hours-per-week'])

# Make normalized test & train data
# Train data
normalized_train_data = copy.deepcopy(data_train)
for col in normalized_train_data_partial.columns:
    normalized_train_data[col] = copy.deepcopy(normalized_train_data_partial[col])

# Test data
normalized_test_data = copy.deepcopy(data_test)
for col in normalized_test_data_partial.columns:
    normalized_test_data[col] = copy.deepcopy(normalized_test_data_partial[col])

<h4>Train data after normalization</h4>

In [10]:
normalized_train_data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,-0.120422,Private,-0.465486,Some-college,-0.027079,Married-civ-spouse,Sales,Wife,White,Female,-0.034380,United-States,>50K
1,1.709353,Private,-1.455485,Some-college,-0.027079,Married-civ-spouse,Transport-moving,Husband,White,Male,1.587134,United-States,<=50K
2,-0.632759,Private,0.004908,HS-grad,-0.416222,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,-0.034380,United-States,>50K
3,2.002117,Federal-gov,-1.346235,10th,-1.583650,Married-civ-spouse,Craft-repair,Husband,White,Male,-0.034380,United-States,<=50K
4,2.221690,Self-emp-not-inc,-0.180407,HS-grad,-0.416222,Married-civ-spouse,Sales,Husband,White,Male,0.614225,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22787,1.416589,Self-emp-inc,0.007286,Bachelors,1.140350,Married-civ-spouse,Prof-specialty,Husband,White,Male,-0.034380,United-States,>50K
22788,0.904252,?,-0.132195,HS-grad,-0.416222,Married-civ-spouse,?,Husband,White,Male,-0.034380,United-States,<=50K
22789,-0.193613,Private,-0.348515,Some-college,-0.027079,Married-civ-spouse,Craft-repair,Husband,White,Male,0.776377,United-States,>50K
22790,0.757870,Self-emp-not-inc,1.770947,Assoc-acdm,0.751207,Divorced,Sales,Not-in-family,White,Male,0.776377,United-States,<=50K
22791,0.391915,Private,-1.480290,Doctorate,2.307778,Never-married,Prof-specialty,Not-in-family,White,Male,0.370998,United-States,<=50K

<h4>Test data after normalization</h4>

In [11]:
normalized_test_data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,hours-per-week,native-country
0,-0.326298,Local-gov,0.353844,Bachelors,1.121784,Married-civ-spouse,Protective-serv,Husband,White,Male,-0.037869,United-States
1,1.440219,?,1.649905,HS-grad,-0.429013,Married-civ-spouse,?,Husband,Black,Male,-0.845776,United-States
2,-0.473508,Private,-1.363144,Bachelors,1.121784,Never-married,Adm-clerical,Not-in-family,White,Female,-0.037869,United-States
3,-1.356767,?,-0.068498,Some-college,-0.041314,Never-married,?,Own-child,White,Male,-0.037869,United-States
4,-0.767928,Private,-0.891569,Bachelors,1.121784,Married-civ-spouse,Exec-managerial,Wife,White,Female,0.770038,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...
9764,-1.135952,Private,2.087878,9th,-1.979810,Never-married,Machine-op-inspct,Other-relative,White,Female,-0.037869,Mexico
9765,2.102663,?,-0.136583,Some-college,-0.041314,Married-civ-spouse,?,Husband,White,Male,-0.037869,United-States
9766,-0.841532,Federal-gov,0.239977,HS-grad,-0.429013,Never-married,Adm-clerical,Not-in-family,Black,Female,-0.037869,United-States
9767,0.115331,Private,0.934239,Prof-school,1.897182,Married-civ-spouse,Prof-specialty,Husband,White,Male,1.173992,Germany
9768,-0.915137,Private,-1.330526,Some-college,-0.041314,Married-civ-spouse,Sales,Wife,White,Female,-0.037869,United-States